extends layout

block content
    h1= "Edit user"
    div.newuser
        form( method="post")
            input(name="_id", type="hidden", value=user._id.toHexString())
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="edituserTitle", value=[title])
                div
                    span.label Name :
                    input(type="text", name="name", id="edituserName", value=user.name)
                div#edituserSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to user List"